<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pages/directory.css">
    <link rel="icon" type="image/png" href="../img/archer-eats-logo.png">
    <title>Directory - ArcherEats</title>
</head>

<body>
<!-- navbar -->
    <nav class="navbar">
        <div class="navbar-content">
            <div class="app-name-container">
                <a href="landing-page.html" class="app-name">
                    <img src="../img/archer-eats-logo.png" alt="ArcherEats Logo" class="logo-img">
                    <span class="title">rcherEats.</span>
                </a>
            </div>
            <div class="searchbar-wrapper">
                <img src="../img/search-icon.svg" class="search-icon">
                <input type="text" class="searchbar" placeholder="Search for Restaurants, Food..">
            </div>
            <div class="nav-actions">
                <a href="directory.html" class="review">Review</a>
                <a href="profile.html" class="sign-in">Log In</a>
                <a href="profile.html" class="sign-up">Sign Up</a>
                <img src="../img/menu-icon.svg" class="menu-icon">
            </div>
        </div>
    </nav>

<!-- Directory Content -->
    <div class="directory-content">
        <aside class="filter-container">
            <div class="header-container">
                <img src="../img/filter.svg" class="filter-img">
                <span class="header">SEARCH FILTER</span>
            </div>
            
            <!-- cuisine filters -->
            <div class="filters">
                <span class="header">Cuisine</span>
                <label>
                    <input type="checkbox" name="cuisine-filter" value="filipino">
                    Filipino
                </label>
                <label>
                    <input type="checkbox" name="cuisine-filter" value="chinese">
                    Chinese
                </label>
                <label>
                    <input type="checkbox" name="cuisine-filter" value="korean">
                    Korean
                </label>
                <label>
                    <input type="checkbox" name="cuisine-filter" value="thai">
                    Thai
                </label>
            </div>

            <!-- tag filters -->
            <div class="filters">
                <span class="header">Tags</span>
                <label>
                    <input type="checkbox" name="tag-filter" value="free-wifi">
                    Free WiFi
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="vegetarian">
                    Vegetarian
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="halal">
                    Halal
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="student-friendly">
                    Student Friendly
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="24-hours">
                    24-Hours
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="fast-food">
                    Fast Food
                </label>
            </div>

            <!-- rating filters -->
            <div class="filters">
                <span class="header">Rating</span>
            </div>
        </aside>

        <div class="restaurant-container">
            <div class="toolbar-container">
                <span class="toolbar-title">Sort By</span>
                <div class="toolbar-buttons">
                    <button class="popularity-btn">Popularity</button>
                    <button class="popularity-btn">Popularity</button>
                </div>
            </div>

            <div class="res-container-items">
                <div class="restaurant-card">
                    <div class="restaurant-img-container">
                        <img src="../img/barn.jpg" class="restaurant-img" alt="barn">
                    </div>

                    <div class="card-content">
                        <div class="card-header-container">
                            <div class="card-header">
                                <span class="restaurant-title">
                                    <a href="../views/Restaurant/barn.html" target="_blank">
                                    The Barn
                                    </a>
                                </span>
                                <div class="header-buttons">
                                    <button class="card-btn write-review">Write a Review</button>
                                    <button class="card-btn"> ❤</button>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant-info">
                            <span class="ratings">4.7 (30) <span class="stars">★★★★</span></span>
                            <div class="tag-container">
                                <div class="tag">
                                    <span class="tag-text">Filipino</span>
                                </div>
                                <div class="tag">
                                    <span class="tag-text">Casual Dining</span>
                                </div>
                                <div class="tag">
                                    <span class="tag-text">Alcoholic Drinks</span>
                                </div>
                            </div>
                            <div class="pricing-time">
                                <span class="price">₱₱₱</span>
                                <span class="divider">•</span>
                                <span class="time">🕓 10PM - 12AM (the next day)</span>
                            </div>
                            <div class="featured-reviews">
                                <span>"The food was great!"</span>
                                <span>".... the service was fantastic."</span>
                                <span>"The ambiance was awesome!"</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="restaurant-card">
                    <div class="restaurant-img-container">
                        <img src="../img/latoca.jpg" class="restaurant-img" alt="La Toca Taqueria"> 
                    </div>
                    
                    <div class="card-content">
                        <div class="card-header-container">
                            <div class="card-header">
                                <span class="restaurant-title">
                                    <a href="../views/Restaurant/LaToca.html" target="_blank">
                                    La Toca Taqueria
                                    </a>
                                </span>
                                <div class="header-buttons">
                                    <button class="card-btn write-review">Write a Review</button>
                                    <button class="card-btn"> ❤</button>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant-info">
                            <span class="ratings">4.9 (15) <span class="stars">★★★★</span></span>
                            <div class="tag-container">
                                <div class="tag">
                                    <span class="tag-text">Mexican</span>
                                </div>
                                <div class="tag">
                                    <span class="tag-text">Alcoholic Drinks</span>
                                </div>
                                <div class="tag">
                                    <span class="tag-text">Bar</span>
                                </div>
                            </div>
                            <div class="pricing-time">
                                <span class="price">₱₱₱</span>
                                <span class="divider">•</span>
                                <span class="time">🕓 11AM - 2AM (the next day)</span>
                            </div>
                            <div class="featured-reviews">
                                <span>"Awesome tacos!"</span>
                                <span>"The place was clean.."</span>
                                <span>"..... best tacos in Taft!"</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="restaurant-card">
                    <div class="restaurant-img-container">
                        <img src="../img/tinuhog-benny.jpg" class="restaurant-img" alt="barn">
                    </div>

                    <div class="card-content">
                        <div class="card-header-container">
                            <div class="card-header">
                                <span class="restaurant-title">
                                    <a href="../views/Restaurant/barn.html" target="_blank">
                                    Tinuhog ni Benny
                                    </a>
                                </span>
                                <div class="header-buttons">
                                    <button class="card-btn write-review">Write a Review</button>
                                    <button class="card-btn"> ❤</button>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant-info">
                            <span class="ratings">5.0 (6) <span class="stars">★★★★★</span></span>
                            <div class="tag-container">
                                <div class="tag">
                                    <span class="tag-text">Filipino</span>
                                </div>
                                <div class="tag">
                                    <span class="tag-text">Casual Dining</span>
                                </div>
                                <div class="tag">
                                    <span class="tag-text">Student Friendly</span>
                                </div>
                            </div>
                            <div class="pricing-time">
                                <span class="price">₱</span>
                                <span class="divider">•</span>
                                <span class="time">🕓 10PM - 12AM (the next day)</span>
                            </div>
                            <div class="featured-reviews">
                                <span>"Must try!"</span>
                                <span>"Very affordable for students like me."</span>
                                <span>"Cheap and amazing food!"</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="restaurant-card">
                    <div class="restaurant-img-container">
                        <img src="../img/elpoco.jpg" class="restaurant-img" alt="barn">
                    </div>

                    <div class="card-content">
                        <div class="card-header-container">
                            <div class="card-header">
                                <span class="restaurant-title">
                                    <a href="../views/Restaurant/barn.html" target="_blank">
                                    El Poco Cantina
                                    </a>
                                </span>
                                <div class="header-buttons">
                                    <button class="card-btn write-review">Write a Review</button>
                                    <button class="card-btn"> ❤</button>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant-info">
                            <span class="ratings">5.0 (67) <span class="stars">★★★★★</span></span>
                            <div class="tag-container">
                                <div class="tag">
                                    <span class="tag-text">Mexican</span>
                                </div>
                                <div class="tag">
                                    <span class="tag-text">Casual Dining</span>
                                </div>
                            </div>
                            <div class="pricing-time">
                                <span class="price">₱</span>
                                <span class="divider">•</span>
                                <span class="time">🕓 10PM - 12AM (the next day)</span>
                            </div>
                            <div class="featured-reviews">
                                <span>"The food was great!"</span>
                                <span>".... the service was fantastic."</span>
                                <span>"The ambiance was awesome!"</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="restaurant-card">
                    <div class="restaurant-img-container">
                        <img src="../img/tagpuanberde.jpg" class="restaurant-img" alt="barn">
                    </div>

                    <div class="card-content">
                        <div class="card-header-container">
                            <div class="card-header">
                                <span class="restaurant-title">
                                    <a href="../views/Restaurant/barn.html" target="_blank">
                                    Tagpuan Berde
                                    </a>
                                </span>
                                <div class="header-buttons">
                                    <button class="card-btn write-review">Write a Review</button>
                                    <button class="card-btn"> ❤</button>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant-info">
                            <span class="ratings">5.0 (67) <span class="stars">★★★★★</span></span>
                            <div class="tag-container">
                                <div class="tag">
                                    <span class="tag-text">Filipino</span>
                                </div>
                                <div class="tag">
                                    <span class="tag-text">Casual Dining</span>
                                </div>
                            </div>
                            <div class="pricing-time">
                                <span class="price">₱</span>
                                <span class="divider">•</span>
                                <span class="time">🕓 10PM - 12AM (the next day)</span>
                            </div>
                            <div class="featured-reviews">
                                <span>"The food was great!"</span>
                                <span>".... the service was fantastic."</span>
                                <span>"The ambiance was awesome!"</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="write-review-modal">
        <div class="modal-content">
            <div class="user-info">
                <img src="../img/blank-pfp.png">
                <span class="user-name">Juan Dela Cruz</span>
            </div>
            <div class="star-selection">
                <input type="radio" id="star5" name="rating" value="5"><label for="star5">★</label>
                <input type="radio" id="star4" name="rating" value="4"><label for="star4">★</label>
                <input type="radio" id="star3" name="rating" value="3"><label for="star3">★</label>
                <input type="radio" id="star2" name="rating" value="2"><label for="star2">★</label>
                <input type="radio" id="star1" name="rating" value="1"><label for="star1">★</label>
            </div>
            
            <div class="textarea-container">
                <textarea placeholder="What did you love? What could be better? Share the details of your visit..."></textarea>
            </div>
            
            <div class="add-media-container">
                <button class="modal-button button-add-media">Add Images / Videos</button>
            </div>

            <div class="feedback-selection">
                <span class="feedback-header">How was the price?</span>
                <div class="feedback-buttons">
                    <input type="radio" id="price-low" name="price_group" value="1">
                    <label class="feedback-btn" for="price-low">₱</label>

                    <input type="radio" id="price-mid" name="price_group" value="2">
                    <label class="feedback-btn" for="price-mid">₱₱</label>

                    <input type="radio" id="price-high" name="price_group" value="3">
                    <label class="feedback-btn" for="price-high">₱₱₱</label>
                </div>
            </div>

            <div class="feedback-selection">
                <span class="feedback-header">Wait Time</span>
                <div class="feedback-buttons">
                    <input type="radio" id="no-wait" name="time_group" value="1">
                    <label class="feedback-btn" for="no-wait">No Wait</label>

                    <input type="radio" id="15-30m" name="time_group" value="2">
                    <label class="feedback-btn" for="15-30m">15-30m</label>

                    <input type="radio" id="1hr+" name="time_group" value="2">
                    <label class="feedback-btn" for="1hr+">1hr+</label>
                </div>
            </div>

            <div class="feedback-selection">
                <span class="feedback-header">Would you recommend the place?</span>
                <div class="feedback-buttons">
                    <input type="radio" id="yes-btn" name="reco_group" value="1">
                    <label class="feedback-btn" for="yes-btn">Yes</label>

                    <input type="radio" id="no-btn" name="reco_group" value="2">
                    <label class="feedback-btn" for="no-btn">No</label>
                </div>
            </div>

            <div class="cancel-post-container">
                <button class="modal-button button-cancel">Cancel</button>
                <button class="modal-button button-post">Post</button>
            </div> 
        </div>
    </div>

    <script src="../js/jquery-4.0.0.min.js"></script>
    <script src="../js/review-modal.js"></script>
</body>
</html>