<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pages/directory.css">
    <link rel="icon" type="image/png" href="../img/archer-eats-logo.png">
    <title>Directory - ArcherEats</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-content">
            <div class="app-name-container">
                <a href="landing-page.html" class="app-name">
                    <img src="../img/archer-eats-logo.png" alt="ArcherEats Logo" class="logo-img">
                    <span class="title">rcherEats.</span>
                </a>
            </div>
            <div class="searchbar-wrapper">
                <img src="../img/search-icon.svg" class="search-icon">
                <input type="text" class="searchbar" placeholder="Search for Restaurants, Food..">
            </div>
            <div class="nav-actions">
                <a href="#" class="review">Review</a>
                <a href="profile.html" class="sign-in">Sign In</a>
                <a href="profile.html" class="sign-up">Sign Up</a>
                <img src="../img/menu-icon.svg" class="menu-icon">
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
    
    <div class="directory-content">
        <aside class="filter-container">
            <div class="header-container">
                <img src="../img/filter.svg" class="filter-img">
                <span class="header">SEARCH FILTER</span>
            </div>
            
            <!-- cuisine filters -->
            <div class="filters">
                <span class="header">Cuisine</span>
                <label>
                    <input type="checkbox" name="cuisine-filter" value="filipino">
                    Filipino
                </label>
                <label>
                    <input type="checkbox" name="cuisine-filter" value="chinese">
                    Chinese
                </label>
                <label>
                    <input type="checkbox" name="cuisine-filter" value="korean">
                    Korean
                </label>
                <label>
                    <input type="checkbox" name="cuisine-filter" value="thai">
                    Thai
                </label>
            </div>

            <!-- tag filters -->
            <div class="filters">
                <span class="header">Tags</span>
                <label>
                    <input type="checkbox" name="tag-filter" value="free-wifi">
                    Free WiFi
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="vegetarian">
                    Vegetarian
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="halal">
                    Halal
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="student-friendly">
                    Student Friendly
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="24-hours">
                    24-Hours
                </label>
                <label>
                    <input type="checkbox" name="tag-filter" value="fast-food">
                    Fast Food
                </label>
            </div>

            <!-- rating filters -->
            <div class="filters">
                <span class="header">Rating</span>
            </div>
        </aside>



        <div class="restaurant-container">
            <div class="toolbar-container">
                <span class="toolbar-title">Sort By</span>
                <div class="toolbar-buttons">
                    <button class="popularity-btn">Popularity</button>
                    <button class="popularity-btn">Popularity</button>
                </div>
            </div>

            <div class="res-container-items">
                <div class="restaurant-card">
                    <div class="restaurant-img-container">
                        <img src="../img/barn.jpg" class="restaurant-img" alt="barn">
                    </div>

                    <div class="card-header-container">
                        <div class="card-header">
                            <span class="restaurant-title">The Barn</span>
                            <div class="header-buttons">
                                <a href="../views/Restaurant/barn.html">
                                <button class="card-btn">Write a Review</button>
                                </a>
                                <button class="card-btn"> ❤</button>
                            </div>
                        </div>

                    <div class="restaurant-info">
                        <span class="ratings">5.0 (67) <span class="stars">★★★★★</span></span>
                        <div class="tag-container">
                            <div class="tag">
                                <span class="tag-text">Filipino</span>
                            </div>
                            <div class="tag">
                                <span class="tag-text">American</span>
                            </div>
                            <div class="tag">
                                <span class="tag-text">Bar</span>
                            </div>
                        </div>
                        <div class="pricing-time">
                            <span class="price">₱₱₱</span>
                            <span class="divider">•</span>
                            <span class="time">🕓 7AM - 10PM</span>
                        </div>
                        <div class="featured-reviews">
                            <span>"The food was great!"</span>
                            <span>".... the service was fantastic."</span>
                            <span>"The ambiance was awesome!"</span>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="restaurant-card">
                    <div class="restaurant-img-container">
                        <img src="../img/barn.jpg" class="restaurant-img" alt="barn">
                    </div>

                    <div class="card-header-container">
                        <div class="card-header">
                            <span class="restaurant-title">The Barn</span>
                            <div class="header-buttons">
                                <button class="card-btn">Write a Review</button>
                                <button class="card-btn"> ❤</button>
                            </div>
                        </div>

                    <div class="restaurant-info">
                        <span class="ratings">5.0 (67) <span class="stars">★★★★★</span></span>
                        <div class="tag-container">
                            <div class="tag">
                                <span class="tag-text">Filipino</span>
                            </div>
                            <div class="tag">
                                <span class="tag-text">American</span>
                            </div>
                            <div class="tag">
                                <span class="tag-text">Bar</span>
                            </div>
                        </div>
                        <div class="pricing-time">
                            <span class="price">₱₱₱</span>
                            <span class="divider">•</span>
                            <span class="time">🕓 7AM - 10PM</span>
                        </div>
                        <div class="featured-reviews">
                            <span>"The food was great!"</span>
                            <span>".... the service was fantastic."</span>
                            <span>"The ambiance was awesome!"</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>