<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pages/edit-profile.css">
    <link rel="icon" type="image/png" href="../img/archer-eats-logo.png">
    <title>Edit Profile - ArcherEats</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-content">
            <div class="app-name-container">
                <a href="landing-page.html" class="app-name">
                    <img src="../img/archer-eats-logo.png" alt="ArcherEats Logo" class="logo-img">
                    <span class="title">rcherEats.</span>
                </a>
            </div>
            <div class="searchbar-wrapper">
                <img src="../img/search-icon.svg" class="search-icon">
                <input type="text" class="searchbar" placeholder="Search for Restaurants, Food..">
            </div>
            <div class="nav-actions">
                <a href="directory.html" class="review">Directory</a>
                <a href="#" class="sign-in">Log In</a>
                <div class="menu-icon-wrapper">
                    <input type="checkbox" id="menu-toggle" hidden>
                    <label for="menu-toggle" class="menu-icon-btn">
                        <img src="../img/menu-icon.svg" class="menu-icon">
                    </label>

                    <div class="menu-dropdown">
                        <a href="profile.html">View Profile</a>
                        <a href="add-food.html">Add Food Establishment</a>
                        <a href="#">Favorites</a>
                        <hr>
                        <a href="landing-page.html">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
    <div class="edit-profile-container">
        <div class="avatar-column">
            <img src="../img/default-avatar.svg" class="edit-profile-pic">
            <button class="change-avatar-btn">Change Avatar</button>
        </div>
        <div class="edit-profile-info">
            <h1 class="edit-profile-title">Edit Profile</h1>
            <p class="edit-profile-desc">Manage your account's information and make sure 
                it's true to keep the reviews more reliable to students, workers, and other users.</p>
            <h2 class="username-label">Username*</h2>
            <p class="username-desc">Customize and check your username availability.</p>
            <div class="username-input-row">
                <input type="text" class="username-input" placeholder="juandelacruz">
                <button class="check-avail-btn">Check</button>
            </div>
            <div class="name-labels">
                <h2 class="first-name">First Name*</h2>
                <h2 class="last-name">Last Name*</h2>
            </div>
            <div class="name-input">
                <input type="text" class="first-name-input" placeholder="Juan">
                <input type="text" class="last-name-input" placeholder="Dela Cruz">
            </div>
            <h2 class="status-label">Status</h2>
            <p class="status-desc">What is your status right now? (Worker, Professor, Student, etc.)</p>
            <input type="text" class="status-input" placeholder="Student">
            <h2 class="biography-label">Biography</h2>
            <p class="biography-desc">Write a short description about yourself.</p>
            <textarea class="biography-input" placeholder="I love food!"></textarea>
            <div class="save-changes">
                <button class="save-changes-btn" onclick="location.href='profile.html'">Save Changes</button>
                <button class="reset-btn">Cancel</button>
            </div>
        </div>
    </div>

    <div class="login-modal">
        <div class="login-content">
            <span class="close-btn">&times;</span>
            <div class="login-header">
                <img src="../img/archereats-black.png" alt="ArcherEats Logo" class="header-login-logo">
                <span class="web-name-title">rcherEats.</span>
            </div>
            <div class="login-fields">
                <input type="text" id="username-email" placeholder="Username or Email">
                <input type="password" id="username-email" placeholder="Password">
            </div>
            <div class="forgot-password-container">
                <a href="#" class="forgot-password">
                    <span>Forgot Your Password?</span>
                </a>
            </div>
            <div class="login-btn-container">
                <button class="login-btn" id="login-btn">Login</button>
            </div>
            <div class="register-container">
                <span>New to ArcherEats? <a href="#" class="register">Create an Account</a></span>
            </div>
        </div>
    </div>

    <div class="register-modal">
        <div class="register-content">
            <span class="close-btn">&times;</span>
            <div class="register-header">
                <img src="../img/archereats-black.png" alt="ArcherEats Logo" class="header-register-logo">
                <span class="web-name-title">rcherEats.</span>
            </div>

            <div class="register-fields">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="">

                <label for="username">Username</label>
                <input type="text" id="username" placeholder="">

                <label for="pw-1">Password</label>
                <input type="password" id="pw-1" placeholder="">

                <label for="pw-2">Confirm Password</label>
                <input type="password" id="pw-2" placeholder="">
            </div>

            <div class="register-btn-container">
                <button class="register-btn" id="register-btn">Create Account</button>
            </div>

            <div class="have-account-container">
                <span>Already have an Account? <a href="#" class="login-account">Login to your Account</a></span>
            </div>
        </div>
    </div>

    <script src="../js/jquery-4.0.0.min.js"></script>
    <script src="../js/login-modal.js"></script>
</body>
</html>