<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="short description">
  <link rel="icon" type="image/png" href="../img/archer-eats-logo.png">
  <link rel="stylesheet" href="../css/components/navbar.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/pages/landing-page.css">
  <link rel="stylesheet" href="../css/components/home-resto-card.css">
  <title>Home Page - ArcherEats</title> 
</head>

<body>
<!-- navbar -->
    <nav class="navbar">
        <div class="navbar-content">
            <div class="app-name-container">
                <a href="landing-page.html" class="app-name">
                    <img src="../img/archer-eats-logo.png" alt="ArcherEats Logo" class="logo-img">
                    <span class="title">rcherEats.</span>
                </a>
            </div>
            <div class="searchbar-wrapper">
                <img src="../img/search-icon.svg" class="search-icon">
                <input type="text" class="searchbar" placeholder="Search for Restaurants, Food..">
            </div>
            <div class="nav-actions">
                <a href="directory.html" class="review">Directory</a>
                <a href="profile.html" class="sign-in">Log In</a>
                <div class="menu-icon-wrapper">
                    <input type="checkbox" id="menu-toggle" hidden>
                    <label for="menu-toggle" class="menu-icon-btn">
                        <img src="../img/menu-icon.svg" class="menu-icon">
                    </label>

                    <div class="menu-dropdown">
                        <a href="#">Add Food Establishment</a>
                        <a href="#">Favorites</a>
                        <hr>
                        <a href="landing-page.html">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Section / Display Image -->
    <section class="main-section">
        <img src="../img/DLSU-campus.png" alt="DLSU Campus" class="main-img">
        <div class="main-section-overlay">
            <h1>Discover and Experience DLSU's <br> Diners through ArcherEats.</h1>
            <div class="main-searchbar-wrapper">
                <img src="../img/search-icon.svg" class="search-icon">
                <input type="text" class="searchbar" placeholder="What do your tastebuds desire?">
            </div>
            <p class="photo-caption">Some Photo <br> Photo from Somewhere</p>
        </div>
     </section>


    <!-- Feature Section for Food -->
    <section class="feature-section">
        <div class="feature-header">
            <h2>Featured Eateries around Taft</h2>
            <a href="#">See All</a>
        </div>
        <div class="feat-cards">
            <div class="feat-card">
                <!-- Restaurants go Here -->
                <div class="card-image">
                    <img src="../img/latoca.jpg" alt="La Toca">
                    <button class="review-button"> Write a Review</button>
                    <div class="heart"><img src="../img/heart.svg" alt="heart"></div>
                </div>
                <div class="card-content">
                    <a href="../views/Restaurant/LaToca.html">
                    <h3>La Toca</h3>
    
                    <div class="rating">
                        <div class="stars">
                            <img src="../img/star.png" alt="star">
                            <img src="../img/star.png" alt="star">
                            <img src="../img/star.png" alt="star">
                            <img src="../img/star.png" alt="star">
                            <img src="../img/star.png" alt="star">
                        </div>
                        <span class="score">4.67</span>
                    </div>
                    <p>Mexican place near Razon</p>
                    </a>
                </div>
            </div>
            <div class="feat-card">
                <!-- Restaurants go Here -->
                <div class="card-image">
                    <img src="../img/barn.jpg" alt="The Barn by Borro">
                    <button class="review-button"> Write a Review</button>
                    <div class="heart"><img src="../img/heart.svg" alt="heart"></div>
                </div>
                <div class="card-content">
                    <a href="../views/Restaurant/barn.html">
                    <h3>The Barn</h3>
                    <div class="rating">
                        <div class="stars">
                            <img src="../img/star.png" alt="star">
                            <img src="../img/star.png" alt="star">
                            <img src="../img/star.png" alt="star">
                            <img src="../img/star.png" alt="star">
                            <img src="../img/star.png" alt="star">
                        </div>
                        <span class="score">4.5</span>
                    </div>
                    <p>Casual Dining Place</p>
                    </a>
                </div>
            </div>
        </div>
     </section>



     <!-- Footer -->
     <footer class="footer">
        <div class="footer-container">
            <!-- Left Side -->
             <div class="footer-left">
                <div class="footer-logo">
                    <img src="../img/archer-eats-logo.png" alt="ArcherEats logo" class="logo-img">
                    <span class="title">rcherEats.</span>
                </div>
                <p class="tagline">
                    Discover Taft Avenue's treats at your fingertips.
                </p>
                <button class="back-to-top">
                    Back to Top
                </button>
             </div>

             <!-- Middle Side -->
              <div class="footer-links">
                <a href="landing-page.html">Home</a>
                <a href="#">Github</a>
                <a href="#">Contact Us</a>
              </div>
            <!-- Right Side -->
             <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Cookie Policy</a>
             </div>
        </div>
     </footer>
</body>
</html>