<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>ArcherEats</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-content">
            <div class="app-name-container">
                <span class="app-name">ArcherEats.</span>
            </div>
            <div class="searchbar-wrapper">
                <img src="../img/search-icon.svg" class="search-icon">
                <input type="text" class="searchbar" placeholder="Search for Restaurants, Food..">
            </div>
            <div class="nav-actions">
                <a href="#" class="review">Review</a>
                <a href="#" class="sign-in">Sign In</a>
                <a href="#" class="sign-up">Sign Up</a>
                <img src="../img/menu-icon.svg" class="menu-icon">
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
</body>
</html>