<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pages/profile.css">
    <title>Profile</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-content">
            <div class="app-name-container">
                <span class="app-name">
                <a href="landing-page.html" class="title">ArcherEats.</a>
                </span>
            </div>
            <div class="searchbar-wrapper">
                <img src="../img/search-icon.svg" class="search-icon">
                <input type="text" class="searchbar" placeholder="Search for Restaurants, Food..">
            </div>
            <div class="nav-actions">
                <a href="#" class="review">Review</a>
                <a href="profile.html" class="sign-in">Sign In</a>
                <a href="profile.html" class="sign-up">Sign Up</a>
                <img src="../img/menu-icon.svg" class="menu-icon">
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
    <div class="profile-container">
        <img src="../img/default-avatar.svg" alt="Default Profile Pic" class="profile-pic">
        <div class="profile-info">
            <div class="name-row">
                <h1 class="name">Juan Dela Cruz</h1>
                <button class="edit-profile-btn" onclick="location.href='edit-profile.html'">
                    Edit Profile
                </button>
            </div>
            <h2 class="username">@juandelacruz</h2>
            <h2 class="status">Student</h2>
            <h2 class="biography-holder">Biography</h2>
            <p class="biography">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <hr class="profile-divider">
    <div class="your-reviews">
        <h1 class="reviews-title">Your Reviews</h1>
        <h2 class="reviews-header-desc">All reviews made by you including anonymous ones.</h2>
    </div>
</body>
</html>