<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pages/profile.css">
    <link rel="icon" type="image/png" href="../img/archer-eats-logo.png">
    <title>Profile - ArcherEats</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-content">
            <div class="app-name-container">
                <a href="landing-page.html" class="app-name">
                    <img src="../img/archer-eats-logo.png" alt="ArcherEats Logo" class="logo-img">
                    <span class="title">rcherEats.</span>
                </a>
            </div>
            <div class="searchbar-wrapper">
                <img src="../img/search-icon.svg" class="search-icon">
                <input type="text" class="searchbar" placeholder="Search for Restaurants, Food..">
            </div>
            <div class="nav-actions">
                <a href="directory.html" class="review">Directory</a>
                <a href="profile.html" class="sign-in">Log In</a>
                <div class="menu-icon-wrapper">
                    <input type="checkbox" id="menu-toggle" hidden>
                    <label for="menu-toggle" class="menu-icon-btn">
                        <img src="../img/menu-icon.svg" class="menu-icon">
                    </label>

                    <div class="menu-dropdown">
                        <a href="profile.html">View Profile</a>
                        <a href="add-food.html">Add Food Establishment</a>
                        <a href="#">Favorites</a>
                        <hr>
                        <a href="landing-page.html">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
    <div class="profile-container">
        <img src="../img/default-avatar.svg" alt="Default Profile Pic" class="profile-pic">
        <div class="profile-info">
            <div class="name-row">
                <h1 class="name">Juan Dela Cruz</h1>
                <button class="edit-profile-btn" onclick="location.href='edit-profile.html'">
                    Edit Profile
                </button>
            </div>
            <h2 class="username">@juandelacruz</h2>
            <h2 class="status">Student</h2>
            <h2 class="biography-holder">Biography</h2>
            <p class="biography">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <hr class="profile-divider">
    <div class="your-reviews">
        <h1 class="reviews-title">Your Reviews</h1>
        <h2 class="reviews-header-desc">All reviews made by you including anonymous ones.</h2>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <!-- Left Side -->
             <div class="footer-left">
                <div class="footer-logo">
                    <img src="../img/archer-eats-logo.png" alt="ArcherEats logo" class="logo-img">
                    <span class="title">rcherEats.</span>
                </div>
                <p class="tagline">
                    Discover Taft Avenue's treats at your fingertips.
                </p>
                <button class="back-to-top">
                    Back to Top
                </button>
             </div>

             <!-- Middle Side -->
              <div class="footer-links">
                <a href="landing-page.html">Home</a>
                <a href="#">Github</a>
                <a href="#">Contact Us</a>
              </div>
            <!-- Right Side -->
             <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Cookie Policy</a>
             </div>
        </div>
     </footer>
</body>
</html>