@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(18, 53, 36);
    padding: 16px 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.navbar .navbar-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px; /* addded gap between website name and search bar */
}

.app-name-container {
  flex-shrink: 0;
}

.app-name .title{
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    align-self: flex-start;
    transition: color 0.3s;
}

.app-name .title:hover {
  color: #000000;
}

.searchbar-wrapper {
    flex-grow: 1;
    max-width: 500px;
    position: relative;
    display: flex;
    align-items: center;
}

.searchbar-wrapper .search-icon {
    position: absolute;
    left: 12px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

.searchbar {
    width: 100%;
    padding: 12px 16px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.searchbar::placeholder {
    font-weight: 500;
    color: #807f7f;
    font-size: 17px;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}

.nav-actions a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-actions a:hover {
  color: #000000;
}

.nav-actions .menu-icon {
    height: 28px
}