.restaurant-card {
    display: flex;
    width: 50vw;
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 0.5em;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.restaurant-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.restaurant-img-container {
    flex-shrink: 0;
    width: 180px;
    height: 220px;
    margin-right: 0.5em;
}

.restaurant-img {
    width: 180px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}

.card-header-container {
    width: 100%;
    flex-direction: column;
    padding-left: 0.5rem;
}

.card-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;                           
}

.restaurant-title {
    font-weight: bold;
    font-size: 2em;
}

.header-buttons {
    display: flex;
    gap: 0.2em;
}

.card-btn {
    padding: 0 1.2em;
    height: 2.5em;
    outline: none;
    border: none;
    border-radius: 15px;
    background: #006937;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card-btn:hover {
    background: #37833c;
}

.restaurant-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.stars {
    color: rgb(209, 209, 47);
}

.tag-container {
    display: flex;
    gap: 0.2em;
}

.tag {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    padding: 0.2em 0.5em 0.2em;
    border-radius: 9px;
    background: #006937;
}

.tag .tag-text {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.featured-reviews {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    gap: 0.5em;
    font-style: italic;
}

@media screen and (max-width: 985px){
    .restaurant-card {
        width: 45vw;
        height: 50vh;
        flex-direction: column;
    }

    .restaurant-img-container {
        width: 45vw;
        height: 20vh;
    }

    .restaurant-img {
        width: 45vw;
        height: 20vh;
    }

    .card-btn {
        padding: 0 1.2em;
        height: 1.5em;
    }

    .restaurant-title {
        font-size: 1.7em;
    }

    .card-header-container {
        margin-top: 0.5em;
        width: 45vw;
        flex-direction: row;
        padding: 0.1em;
        font-size: 0.8em;
    }

    .tag .tag-text {
        color: white;
        font-size: 1em;
        font-weight: bold;
    }

}