.directory-content {
    display: flex;
    margin: 1em;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 27%;
    max-width: 30rem;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.header {
    font-size: 18px;
    font-weight: bold;
}

.filter-img {
    height: 27px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    width: 51vw; 
}

.toolbar-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.toolbar-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 1em;
}

.popularity-btn {
    outline: none;
    border: none;
    padding: 0.5em 1em 0.5em;
    border-radius: 15px;
    color: white;
    background: #006937;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.res-container-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}