@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.favorites-section{
    padding: 40px 100px;
}

.favorites-header{
    color: #123c2f;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}





